<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <p style="color: green"><%= notice %></p>

        <%= render @event %>
        <div>
          <p class="title is-2"><%= @event.title %></p>
          <br>
          <p class="subtitle is-2"><%= @event.description %></p>
          <br>
          <p class="subtitle is-2"><%= @event.location %></p>
          <p class="text-muted">
            <i class="far fa-calendar-alt text-dark fa-lg mr-1"></i>
            <%= @event.date_time.strftime("%B %-d, %Y at %l:%M %p") %>
          </p>
        </div>

        <div>
          <% if !Event.past.include?(@event) %>
            <% if !user_signed_in? %>
              <%= link_to 'Log In', new_user_session_path, class:"button is-info" %>
              <%= link_to 'Sign Up', new_user_registration_path, class:"button is-info" %>
            <% elsif current_user == @event.creator %>
              <%= link_to "Edit this event", edit_event_path, class: "button is-primary" %>
              <%= link_to "Destroy this event", event_path, method: :delete, class: "button is-danger", data: { confirm: 'Are You Sure You Want To Delete This Event?' } %>
            <% elsif user_signed_in? && @event.attendeds.include?(current_user) %>
              <%= button_to 'Cancel Attendence', attendee_path, data: { turbo_method: :delete }, class:"button is-danger" %>
            <% else %>
              <%= simple_form_for(@attendee) do |a| %>
                <%= a.hidden_field :attended_id, :value => current_user.id %>
                <%= a.hidden_field :attended_event_id, :value => @event.id %>
                <%= button_to 'Attend', attendees_path, class:"button is-info" %>
              <% end %>
            <% end %>
          <% else %>
              <% if !user_signed_in? %>
                <%= link_to 'Log In', new_user_session_path, class:"button is-info" %>
                <%= link_to 'Sign Up', new_user_registration_path, class:"button is-info" %>
              <% elsif current_user == @event.creator %>
                <%= link_to "Edit this event", edit_event_path, class: "button is-primary" %>
                <%= link_to "Destroy this event", event_path, method: :delete, class: "button is-danger", data: { confirm: 'Are You Sure You Want To Delete This Event?' } %>
              <% end %>
          <% end %>
          <%= link_to "Back to event's", events_path, class:"button is-info" %>
        </div>
      </div>
    </div>
  </div>
</div>