<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <p style="color: green"><%= notice %></p>

        <%= render @event %>
        <div>
          <p class="title is-2"><%= @event.title %></p>
          <br>
          <p class="subtitle is-2"><%= @event.description %></p>
          <br>
          <p class="subtitle is-2"><%= @event.location %></p>
          <p class="text-muted">
            <i class="far fa-calendar-alt text-dark fa-lg mr-1"></i>
            <%= @event.date_time.strftime("%B %-d, %Y at %l:%M %p") %>
          </p>
        </div>

        <div>
          <% if user_signed_in? && current_user == @event.creator %>
            <%= link_to "Edit this event", edit_event_path, class: "btn is-primary" %>
            <%= link_to "Destroy this event", event_path, method: :delete, class: "btn is-danger", data: { confirm: 'Are You Sure You Want To Delete This Event?' } %>
          <% elsif user_signed_in? && current_user != @event.creator %>
            <% if event.attendeds.include?(current_user) %>
              <%= link_to "Cancel Attendence", cancel_attendence_event_path(event), class: "is-danger" %>
            <% else %>
              <%= link_to "Attend Event", attend_event_path(event), class: "is-primary" %>
            <% end %>
          <% end %>
          <%= link_to "Back to event's", events_path %>
        </div>
      </div>
    </div>
  </div>
</div>